h1 { /* título */
    position: relative;
    top: 0;
    font-size: 4em;
    color: #d7fcd2;
    margin: 1rem 0;
    text-align: center;
    width: 100%; 
    margin-bottom: 1rem;
}


body {
    background: #52ae1c; 
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0; /* remove margens padrão */
}


main {
    background: #d7fcd2;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px 3px rgba(4, 103, 4, 0.612);
    text-align: center;
    max-width: 800px;
    width: 100%;
}


#cronometro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1rem;
    margin: 0 auto 1rem auto;
    border-radius: 10px;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0);
    position: sticky; 
    top: 0;
}


#cronometro {
    font-family: 'Courier New', monospace;
    font-size: 8em;        
    color: #4CAF50;            
    font-weight: bold;         
    margin: 0.5rem 0;   
}


#configuracoes {
    display: none;
    margin-top: 1rem;
    text-align: center;
}


#inicia-pausa i {
    font-size: 1.5em;
    width: 50px;
}


#rony {
    display: block;
    margin: 1rem auto 0 auto;
    width: 800px;
    height: 150px;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #45a049;
}


#botoes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}


#botoes button {
    flex: 1;
    color: #d7fcd2;
    max-width: 120px;
}


#inicia-pausa {
    color: #d7fcd2;
}


#configuracoes {
    display: none;
    margin-top: 1rem;
    text-align: center;
}


#configuracoes label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}


#configuracoes input {
    width: 60px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}


#botoes-config {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}


#mostra-config {
    margin-top: 1rem;
    background-color: #607d8b;
}


#mostra-config:hover {
    background-color: #607d8b;
}


.botao.ativo {
    background-color: #2E7D32;
}

.botao i {
    display: block;
    margin-bottom: 5px;
}


.botao {
    white-space: nowrap;
    word-break: keep-all;
}


#mostra-rony {
    display: none; /* por padrão, não mostra a div */
    margin-top: 1rem;
    text-align: center;
}


#rony {
    display: block;
    margin: 1rem auto 0 auto;
    margin-bottom: 2rem;
    width: 800px;
    height: 150px;
    
}